<div class="footers">
    <div class="grey-links">
        <div class="pages"><h3>pages</h3></div>
        <a href="/work">
        <div class="grey-link">Projects</div>
        </a>
        <a href="/about">
        <div class="grey-link">About</div>
        </a>
        <a href="/contact">
        <div class="grey-link">Feedback</div>
        </a>

<div class="social-block">
    <a href="https://www.linkedin.com/in/dilmohan-kumar-b230b921b/" target="_blank">
       <i id="linkedin-logo" class="fab fa-linkedin-in">  Linkedin </i>
    </a>


     <a href="https://github.com/dilmohankumar" target="_blank">
    <i id="github-logo" class="fab fa-github">&nbsp GitHub</i>
    </a>
    <a href="https://www.instagram.com/dilmohan__kumar/" target="_blank">
    <i id="insta-logo"  class="fab fa-instagram">&nbsp Instagram</i>
    </a>
     <a href="mailto:kdilmohan101@gmail.com" target="_blank" >
        <img src="/photos/logo/gmail.png" alt="" class="mail-logo" >
  <i  class="mail-logo">&nbsp Mail</i>
    </a>

</div>
</div>
</div>
