<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="../style.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  
<script src="sidebox.js"></script>
        
</head>
<body>

<div class="navbar">
    <a class="name" href="https://www.linkedin.com/in/dilmohan-kumar-b230b921b/"><img src="/photos/covers/d2.jpeg"width="40px"height="40px"></a>
 <i id="bars"  class="fas fa-bars" onclick="openMenu()"></i>  
 <a href="/" class="namee">Dilmohan Kumar</div></a>
</div>
<div id="menu-slide" class="menu-slide" "> 
    <a href="javascript:void(0)" class="menu-x" onclick="closeMenu()">&times;</a>
 <a href="/work">Projects.. </a>
 <a class="about" href="/about" >About..</a>
   
     <a href="/contact">Feedback..</a>
  
  

</div>
</body>

</html>


