<!DOCTYPE html>
<html lang="en">
   <div class="project-page">snaplens</div>
   <div class="project-page-center">
    <div class="lens">
        <video class="snap-vid" autoplay muted loop>
            <source src="../vedios/1.mp4">
        </video>
        <div class="lens-name">olivia brian</div>
    </div>
    <div class="lens">
        <video class="snap-vid" autoplay muted loop><source src="../vedios/5.mp4">
        </video>
        <div class="lens-name">halsey</div>
    </div>
    <div class="lens">
        <video class="snap-vid" autoplay muted loop src="../vedios/4.mp4"></video>
        <div class="lens-name">alessa cara</div>
    </div>
   </div>

</html>