<!DOCTYPE html>
<html lang="en">

    {{>Main}}
<body>
   <div class="home">
    <div class="deco"> </div>
    <div class="home-case">
        <div class="home-box">
            <div class="developer">
                <h1>FULL STACK Developer</h1>
            </div>
            <div class="developer-1">
                <h1>MERN STACK Developer</h1>

            </div>
             <div class="developer-2">
                <h1>Problem Solver</h1>

            </div>
            <div class="space"></div>
            <div class="FAST">
                <h1>FAST LEARNER</h1>

            
           <div class="FAST">
                <h1>CREATIVE</h1>

            </div></div>

        </div>
        <a class="home-button"  href="/work">PROJECTS</a>
          <a class="home-button"  href="/contact">feedback</a>
       

    </div>
    

   </div>
       {{>footer}}








</body>
</html>